.parameterContainer {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0px;
    width: 250px;
    white-space: nowrap;
}

.parameter {
    margin: 5px;
}

.property-details {
    width: 100%;
}

.swiper-container {
    width: 100%;
    z-index: 0;
}

.swiper-button {
    color: white;
}

.swiper-button:hover {
    color: #FF5A3C;
}

.property-infos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px
}

.label {
    color: white;
    background-color: #FF5A3C;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 5px
}

.section-title {
    border-bottom: solid #FF5A3C;
    text-align: center;
}

.property-icons {
    color: #FF5A3C;
    margin-right: 10px;
    font-size: 20px !important;
}

.details-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .property-details {
        width: 100%;
        display: block;
    }
    .descriptionContainer {
        width: 100%;
    }
}