
.header-container {
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #fcfcfc;
}

.header-element-container {
    width: 25%;
    height: 100%;
}

.header-element {
    text-align: center;
    margin: 25px;
}

.header-link {
    color: black;
    text-decoration: none;
}

.header-link:hover {
    color: #f5427b;
}


.title {
    text-align: center;
    margin: 15px;
    color: #f5427b
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.swiper-container {
    width: 50%;
    z-index: 0;
}

.swiper-button {
    color: white;
}

.swiper-button:hover {
    color: #f5427b;
}

.footer {
    height: 150px;
    background-color: #636363;
    margin-top: 10px;
}

body {
    margin: 0px;
}