/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #f5427b;
}

.header-container {
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
}

.header-element-container {
    width: 25%;
    height: 100%;
}

.header-element {
    text-align: center;
    margin: 15px;
}

.header-link {
    color: #4b4b4b;
    text-decoration: none;
}

.link {
    color: #4b4b4b;
    text-decoration: none;
}

.header-link:hover {
    color: #f5427b;
}

.title {
    text-align: center;
    margin: 15px;
    color: #f5427b
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.swiper-container {
    width: 50%;
    z-index: 0;
}

.swiper-button {
    color: white;
}

.swiper-button:hover {
    color: #f5427b;
}

.footer {
    background-color: #a1a1a1;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-element {
    text-align: center;
    margin: 15px;
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: #4b4b4b;
}

.footer-element:hover {
    color: #f5427b
}

.description {
    margin: 10px;
    background-color: #a1a1a1;
    color: white;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 15px;
}

.details {
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.infos {
    text-align: center;
}

.cardContainer {
    width: 45%;
    display: flex;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
    align-items: center;
    background-color: white
}

.cardContainer:hover {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
}

.cardContainerHorizontal {
    width: 25%;
    margin: 10px;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.cardImageContainer {
    width: 50%;
}

.cardImage {
    width: 90%;
    margin: 10px;
}

.cardDescription {
    text-align: center;
    width: 50%;
    padding: 5px;
}

.cardImageHorizontal {
    width: 100%;
}

.cardImageHorizontal:hover {
    opacity: 50%;
}

.cardDescriptionHorizontal {
    text-align: center;
}

.cardLink {
    display: flex;
    align-items: center;
}

.line {
    height: 2px;
    background-color: #f5427b;
    position: sticky;
    top: 52px;
    z-index: 1;
    margin: 15px;
}

.separator {
    height: 2px;
    background-color: #f5427b;
    margin: 15px;
}

body {
    margin: 0px;
}

p {
    color: #4b4b4b;
}

i {
    margin: 5px;
}

i:hover {
    color: #f5427b;
}