.imageContainer {
    width: 40%;
    text-align: center;
    margin: 10px;
}

.image {
    width: 80%;
}

.descriptionContainer {
    margin: 10px;
    display: flex;
    align-items: center;
}

.agentDescription {
    text-align: center;
    width: 60%;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-title {
    margin: 10px;
    font-size: 20px !important;
}

.details-infos {
    margin-right: 15px;
}

@media screen and (max-width: 1024px) {
    .descriptionContainer {
        margin: 0px;
        display: block;
        align-items: center;
    }
    .imageContainer {
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    .agentDescription {
        text-align: center;
        width: 100%;
    }

    .details-container {
        display: block;
        text-align: center;
    }
    .details-infos {
        margin-right: 0px;
    }
    
}